/* popup body */
.uw_chatbot_help_button_body {
  position: fixed;
  padding: 10px 10px 10px 10px;
  min-height: 50px;
  min-width: 50px;
  right: 10px;
  background: #fdd54f;
  border-radius: .4em;
  color: black;
  bottom: 20px;
  display:none;
}
.uw_chatbot_help_button_text {
  padding-bottom:10px;
}
/* minimized popup body */
.uw_chatbot_help_button_body_minimized {
  position: fixed;
  padding: 5px 5px 5px 5px;
  min-height: 10px;
  min-width: 10px;
  right: 10px;
  background: #fdd54f;
  border-radius: 50%;
  color: black;
  text-align:center;
  bottom: 20px;
  display: none;
}
/* minimized image (question mark) */
#uw_chatbot_help_button_minimized_image {
  position:relative;
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* popup bottom 'chat bubble' accent */
.uw_chatbot_help_button_body:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 90%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: #fdd54f;
  border-bottom: 0;
  border-right: 0;
  margin-left: -12.5px;
  margin-bottom: -12px;
}
/* Close Button */
.uw_chatbot_help_button_close:after {
  color: #777;
  font: 15px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  content: 'x'; /* UTF-8 symbol */
}
/* hide on small screens and print */
@media screen and (min-width: 0px) and (max-width: 768px), print{
  .uw_chatbot_help_button_body { display: none; }
}

